* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 20px;
}

header {
    border-bottom: 1px solid #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

form input {
    width: 100%;
    padding: 10px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

form input::placeholder {
    color: #fff;
}

form button {
    width: max-content;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all .250s;
}

form button:hover {
    background-color: #000;
    color: #fff;
}

#books {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 20px;
}

.book {
    border: 1px solid #fff;
    border-radius: 5px;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.btn {
    color: #000;
    background: #fff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: auto;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all .250s;
}

.btn:hover {background-color: #000;
    color: #fff;}

section {
    padding: 20px;
}

#history-dashboard {
    display: flex;
    justify-content: space-between;
}

#history-list div {
    border: 1px solid #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}